.vscode/
.settings/
.idea/
.git/
CMakeFiles/
.cproject
.project
CMakeCache.txt
Makefile
*.cmake
*.cbp
*.callgrind

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
